body {
    background-color: rgb(194, 194, 194);
    font-size:20px;
    line-height:20px;
}

.content {
    padding: 10px 30px 30px 30px;
    font-size: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
}

ul li:nth-child(odd) {
    background: rgb(164, 204, 219);
}

ul li:nth-child(even) {
    background: rgb(173, 217, 230);
}

ul li.checked {
    background: rgb(220, 220, 220);
    text-decoration: line-through;
}

ul li::before {
    content: url(../images/unchecked_16.png);
    padding-right: 20px;
}

ul li.checked::before {
    content: url(../images/checked_16.png);
    padding-right: 20px;
}

ul li.checked::after {
    padding-left: 20px;
    content: url();
    text-decoration:overline !important;
    color: red
}
