body {
    margin: 0;
    padding: 0;
}

.clock {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 10px solid #579dff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.clock::before {
    position: absolute;
    content: '';
    height: 230px;
    width: 10px;
    background: #579dff;
    top: 50%;
    left: calc(50% - 5px);
    animation: spin 6s linear infinite;
    transform-origin: top;
}

.clock::after {
    position: absolute;
    content: '';
    height: 150px;
    width: 10px;
    background: #579dff;
    top: 50%;
    left: calc(50% - 5px);
    animation: spin 72s linear infinite;
    transform-origin: top;
    
}

@keyframes spin {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

body::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #579dff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

body::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 50%;
    top: calc(50% - 145px);
    z-index: 2;
    transform: translateX(-50%);
}