body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content {
    width: 65%;
    margin-bottom: 20px;
}
.sidebar {
    width: 30%;
}
.box {
    background-color: #1c3d6e;
    color: #cfd9e2;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}
.box h2 {
    margin-top: 0;
    color: #ffffff;
}
.box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.box ul li {
    background-color: #1c3d6e;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #ffffff;
}

@media (max-width: 800px) {
    .content, .sidebar {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}