body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: #049c9c;
}

header {
    background-color: #008a8b;
    color: white;
    text-align: left;
    padding: 10px 20px;
    font-size: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.boards {
    display: flex;
    overflow-x: auto;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.board {
    background-color: #e1e1e1;
    margin-right: 20px;
    flex: 0 0 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.board-header {
    background-color: #e1e1e1;
    color: rgb(0, 0, 0);
    padding: 15px 15px 0 15px;
    text-align: left;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.board-content {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

.task {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.task p {
    margin: 0 0 10px;
    color: #333333;
}

.task-details {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.task-menu {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.icon, .profile-icon, .menu-icon, .additional-icon {
    width: 16px;
    height: 16px;
}

.task-details .icon:first-child {
    margin-right: 10px;
}

.task-details span {
    margin-left: -5px;
}

.profile-icon {
    width: 32px;
    height: 32px;
    margin-left: auto; 
}
